In [1]:
type(99.9)

float

In [2]:
type("false")

str

In [3]:
type('0')

str

In [4]:
type(0)

int

In [6]:
type(True)

bool

In [7]:
type('True')

str

In [8]:
type([{}])

list

In [9]:
type({'a': []})

dict

In [10]:
# A term or phrase typed into a search box?
# A String

# If a user is logged in?
# bool

# A discount amount to apply to a user's shopping cart?
# A float

# Whether or not a coupon code is valid?
# bool

# An email address typed into a registration form?
# String

# The price of a product?
# Float

# A Matrix?
# list

# The email addresses collected from a registration form?
# Dictionary

# Information about applicants to Codeup's data science program?
# Dictionary

In [11]:
# Error due to a string can not add to a integer
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [12]:
# would give you 2 for the remainder of 4 
6 % 4

2

In [13]:
# The remainder is an interger
type(6 % 4)

int

In [14]:
# Not sure..
type(type(6 % 4))

type

In [15]:
# Error a string is trying to concat with interger. Can't concat interger
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [18]:
# Boolean False
0 < 0

False

In [19]:
# Boolean string "false" is not equal to false
'False' == False

False

In [20]:
# False bool is not equal to string "True"
True == 'True'

False

In [21]:
# bool 5 is greater than or equal to -5
5 >= -5

True

In [28]:
# Not python syntax
!False or False

In [27]:
# True is True
True or "42"

True

In [30]:
# Not python syntax
!True && !False

/bin/sh: !False: command not found

In [31]:
# int the remainder is an int
6 % 5

1

In [32]:
# Bool 5 is < 4 and 1 is equal to 1 but together they are not the same hence false
5 < 4 and 1 == 1

False

In [33]:
# Bool False 'codeup' is not equal to 'Codeup'
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [34]:
# error with syntax !==
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (<ipython-input-34-3a0ea3765a6b>, line 2)

In [35]:
# Bool True there is no remainder
6 % 3 == 0

True

In [36]:
# Bool True there is a remainder so its != 0
5 % 2 != 0

True

In [40]:
# error trying to concat a list w
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [38]:
# list of 2 int
[1] + [2]

[1, 2]

In [41]:
# list with 1 twice
[1] * 2

[1, 1]

In [42]:
error can not multiply list
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [50]:
# Bool Not sure why true
[] + [] == []

True

In [51]:
# adding 2 dictionaries
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [56]:
# You have rented some movies for your kids: The little mermaid (for 3 days), Brother Bear (for 5 days, they 
# love it), and Hercules (1 day, you don't know yet if they're going to like it). If price for a movie per 
# day is 3 dollars, how much will you have to pay?

movie1 = 1
movie2 = 1
movie3 = 1
# 3 + 5 + 1
day1 = 3
day2 = 5
day3 = 1
cost = 3
# days = 5
# movies3 = Hercules
# days = 1
payment = ((movie1 * day1) * cost) + ((movie2 * day2) * cost) + ((movie3 * day3) * cost)
print(payment)

27

In [59]:
# Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook, they pay you a different rate
# per hour. Google pays 400 dollars per hour, Amazon 380, and Facebook 350. How much will you receive in payment 
# for this week? You worked 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

c1 = Google = 1
c2 = Amazon = 1
c3 = FB = 1
g_rate = 400
a_rate = 380
FB_rate = 350
hrs_c1 = 6
hrs_c2 = 4
hrs_c3 = 10
payment = ((c1) * g_rate * hrs_c1) + ((c2) * a_rate * hrs_c2) + ((c3) * FB_rate * hrs_c3)
print(payment)

7420

In [69]:
# A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with 
# her current schedule.
class_not_full = True
no_schedule_conflict = True
enrollment = class_not_full and no_schedule_conflict
print(enrollment)

True

In [148]:
# A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium 
# members do not need to buy a specific amount of products.
buy = 2
offer_not_ex = True
memb_offer = buy >= 2 and offer_not_ex
prem_memb_offer = True

print(memb_offer)
print(prem_memb_offer)

buying_more_than_2 = True
offer_still_good = True
prem_memb = True
offer_applied = offer_still_good and (buying_more_than_2 or prem_memb)
offer_applied

True
True

True

In [85]:
# Create a variable that holds a boolean value for each of the following conditions:
# the password must be at least 5 characters
# the username must be no more than 20 characters
# the password must not be the same as the username
# bonus neither the username or password can start or end with whitespace

username = 'codeup'
password = 'notastrongpassword'

# p = 5
# user < 20
# p != user

user_pass_valid = (len(password) >= 5) and (len(username) <= 20) and username != password
print(us_pass_valid)
#Bonus
user_pass_valid = (len(password) >= 5) and (len(username) <= 20) and username != password and username[0] != ' ' and username[-1] != ' ' and password[0] != ' ' and password[-1] != ' '
print(us_pass_valid)

True
True

In [57]:
# Exercise 1 - rewrite the above example code using list comprehension syntax. Make a variable named 
# uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
upper_fruits = [x.upper() for x in fruits]
print(upper_fruits)

newList = []
for fruit in fruits:
    newList.append(fruit.upper())
print(newList)

upper_cased_fruits = [fruit.upper() for fruit in fruits]
upper_cased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']
['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [59]:
# Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like 
# ['Mango', 'Kiwi', 'Strawberry', etc...]
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
capitalized_fruits = []
for fruit in fruits:
    capitalized_fruits.append(fruit.capitalize())

print(capitalized_fruits)
capitalized_fruit = [fruit.capitalize() for fruit in fruits]
capitalized_fruitcapitalized_fruit = [fruit.capitalize() for fruit in fruits]
capitalized_fruit

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [65]:
# Every third letter to be capitalized
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

fruit[2].capitalize()
[fruit[2].capitalize() for fruit in fruits]
[fruit[2].swapcase() for fruit in fruits]
[fruit[0:2] + fruit[2].capitalize() + fruit[3:] for fruit in fruits]

['maNgo', 'kiWi', 'stRawberry', 'guAva', 'piNeapple', 'maNdarin orange']

In [145]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll 
# need a way to check if something is a vowel.
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
def is_vowel(letters):
    if letters =="a" or letters =="e" or letters =="i" or letters =="o" or letters =="u" or letters =="A" or letters =="E" or letters =="I" or letters =="O" or letters =="U":
        return True
    else:
        return False
    
def has_vowel(letters):
    for char in letters:
        if is_vowel(char):
            return True
    return False

def count_vowels(words):
    list=[]
    for char in words:
        if has_vowel(char):
            list.append(char)
    return len(list)

fruits_with_more_than_two_vowels = [fruit for fruit in fruits if count_vowels(fruit) > 2]
print(fruits_with_more_than_two_vowels)

['guava', 'pineapple', 'mandarin orange']

In [82]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll 
# need a way to check if something is a vowel.
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruit = "apple"
fruit.count('a') + fruit.count('e') + fruit.count('i') + fruit.count('o') + fruit.count('u')

[fruit for fruit in fruits if (
fruit.count('a') +
fruit.count('e') + 
fruit.count('i') + 
fruit.count('o') + 
fruit.count('u')) > 2]
fruits

['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [5]:
# Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
def is_vowel(letters):
    if letters =="a" or letters =="e" or letters =="i" or letters =="o" or letters =="u" or letters =="A" or letters =="E" or letters =="I" or letters =="O" or letters =="U":
        return True
    else:
        return False
    
def has_vowel(letters):
    for char in letters:
        if is_vowel(char):
            return True
    return False

def count_vowels(words):
    list=[]
    for char in words:
        if has_vowel(char):
            list.append(char)
    return len(list)

fruits_with_only_two_vowels = [fruit for fruit in fruits if count_vowels(fruit) == 2]
print(fruits_with_only_two_vowels)

['mango', 'kiwi', 'strawberry']

In [85]:
# Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruits_with_only_two_vowels = [fruit for fruit in fruits if (
fruit.count('a') +
fruit.count('e') + 
fruit.count('i') + 
fruit.count('o') + 
fruit.count('u')) == 2]
fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']

In [21]:
# Exercise 5 - make a list that contains each fruit with more than 5 characters
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruit_with_more_than_5_char = [fruit for fruit in fruits if len(fruit) > 5]
print(fruit_with_more_than_5_char)

['strawberry', 'pineapple', 'mandarin orange']

In [23]:
# Exercise 6 - make a list that contains each fruit with exactly 5 characters
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruit_with_exactly_5_char = [fruit for fruit in fruits if len(fruit) == 5]
print(fruit_with_exactly_5_char)

['mango', 'guava']

In [24]:
# Exercise 7 - Make a list that contains fruits that have less than 5 characters
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruit_with_less_than_5_char = [fruit for fruit in fruits if len(fruit) < 5]
print(fruit_with_less_than_5_char)

['kiwi']

In [33]:
# Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruit_with_char_count = [len(fruit) for fruit in fruits]
print(fruit_with_char_count)

[5, 4, 10, 5, 9, 15]

In [49]:
# Exercise 9 - Make a variable named fruits_with_letter_a that contains a list of only the
# fruits that contain the letter "a"
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
fruits_with_letter_a = [fruit for fruit in fruits if "a" in fruit]
print(fruits_with_letter_a)

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [69]:
# Exercise 10 - Make a variable named even_numbers that holds only the even numbers 
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
even_numbers = [number for number in numbers if number % 2 == 0]
even_numbers

[2, 4, 6, 8, 10, 256, -8, -4, -2]

In [70]:
# Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
odd_numbers = [number for number in numbers if number % 2 == 1]
odd_numbers

[3, 5, 7, 9, 11, 13, 17, 19, 23, 5, -9]

In [74]:
# Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
positive_number = [number for number in numbers if number > 0]
positive_number

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

In [86]:
# Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
negative_number = [number for number in numbers if number < 0]
negative_number

[-8, -4, -2, -9]

In [156]:
# Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
at_least_two_numerals = [number for number in numbers if number >= 10 or number <= -10]
at_least_two_numerals

[10, 11, 13, 17, 19, 23, 256]

In [116]:
# Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. Output is [4, 9, 16, etc...]
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
numbers_squared = [number ** 2 for number in numbers]
numbers_squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81]

In [118]:
# Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd and negative.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
odd_negative_numbers = [number for number in numbers if number % 2 == 1 and number < 0]
odd_negative_numbers

[-9]

In [119]:
# Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five. 
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
number_plus_5 = [(number + 5) for number in numbers]
number_plus_5

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 22, 24, 28, 261, -3, 1, 3, 10, -4]

In [170]:
# BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list. 
# *Hint* you may want to make or find a helper function that determines if a given number is prime or not.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
def primes(number):
    prime = Falds
    for num in numbers:
        if num > 1:
            for i in range(2,num):
                if (num%i==0):
                    return False
            if prime:
                print(num)
        return False
print(primes(numbers))

2
False

In [134]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [145]:
# How many students are there?
len(students)

14

In [153]:
# How many students prefer light coffee? For each type of coffee roast?
return (students.sum()coffee_preference : light)

SyntaxError: invalid syntax (<ipython-input-153-54107ee8c50f>, line 2)

In [1]:
git add

SyntaxError: invalid syntax (<ipython-input-1-3d50770d72e9>, line 1)